/* styles.css */

/* Define un estilo para las celdas de encabezado */
.header-row {
    background-color: #2563eb !important; /* Azul que coincide con bg-blue-600 de Tailwind */
  }

  .header-cell {
    color: #ffff !important; /* Texto blanco */
  }

  .cellCenter {
    text-align: center;
    align-items: 'middle';

  }