/* styles.css */

/* Define un estilo para las celdas de encabezado */
.header-row {
    background-color: #2563eb; /* Color azul consistente con el resto de la aplicación */
  }

  .header-cell {
    color: #ffffff !important; /* Texto blanco */
    font-weight: 500 !important;
  }