/* styles.css */

/* Define un estilo para las celdas de encabezado */
.header-row {
  background-color: #1976d2; /* Fondo celeste */
}

.header-cell {
  color: #ffff !important; /* Texto blanco */
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10000;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.modal-content {
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  padding: 1.5rem;
  width: 24rem;
  z-index: 10001;
  position: relative;
}

/* Fix for select fields */
.MuiSelect-root,
.MuiInputBase-input {
  text-decoration: none !important;
  border-bottom: none !important;
}

.MuiInput-underline:after,
.MuiInput-underline:before {
  border-bottom: none !important;
}
